*{
	margin: 0;
	padding: 0;
}


body, html{
	height: 100%;
}

body{
	background-color: #dfe6e9;
}

.cabecalho{
	background-color: #0984e3;
	height: 15%;
	width: 100%;
	position: relative;
}

.cabecalho  p{
	float: left;
	margin-top: 2.5%;
	margin-left: 1%;
	color: #dfe6e9; 
	position: relative;
}

.cabecalho ul{
	float: left;
	margin-left: 55%;
	margin-top: 2.5%;
	list-style-type: none;
}


.cabecalho li{
	display: inline;
	position: relative;


}

.cabecalho li a{
	background-color:#dfe6e9; 
	color:#2d3436; 
	padding: 10px 15px 10px 15px;
	font-size: 24px;
	text-decoration: none;
}

.cabecalho li a[href="#1"]{
	background-color: #74b9ff
}

.cabecalho li a:hover{
	background-color: #b2bec3;
	color: #dfe6e9; 
}

.logomarca{
	float: left;
	margin-top: 1%;
	margin-left: 1%;
	padding-right: 0;
	margin-right: 0;
}


.fundo{
	float: left;
	margin-top: 10px;
	margin-left: 5%;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 40px;
	background-color: white;
	width: 90%;
	height: 100%;
	position: relative;
}


.nossa-historia h2{
	float: left;
	position: relative;
}

.nossa-historia hr{
	float: left;
	position: relative;
	width: 85%;
	margin-top: 15px;
	margin-left: 5px;
}


.imagem-nossa-historia{
	float: left;
}

.imagem-nossa-historia p img{
	margin-right: 15px;
	margin-bottom: 5px;
	margin-top: 5px;

}

.imagem-nossa-historia p{
	text-align: justify;
	margin-bottom: 10px;
	margin-right: 20px;
}


.visao hr{
	float: left;
	position: relative;
	width: 92.5%;
	margin-top: 15px;
	margin-left: 5px;
}

.visao h2{
	float: left;
	position: relative;
}

.missao hr{
	float: left;
	position: relative;
	width: 91.5%;
	margin-top: 15px;
	margin-left: 5px;
}

.missao h2{
	float: left;
	position: relative;
}

.rodape{
	float: left;
	width: 100%;
	height: 20%;
	background-color: #0984e3;
	margin-top: 30px;

}

.rodape p{
	margin-top: 10px;
	text-align: center;
	color: white;
}

.icones-rodape{
	margin-top: 20px;
	margin-left: 40%;
}

.icone-subir{
	margin-left: 33%;
}

.icone-subir a{
	margin: 0;
	padding: 0;
}

.rodape p a{
	text-decoration: none;
	color: white;
}

.rodape p a:hover{
	color: #2d3436;
}

.imgQuemSomos{
	float: left;
}