*{
	margin: 0;
	padding: 0;
}


body, html{
	height: 100%;
}

body{
	background-color: #dfe6e9;
}

.logomarca{
	float: left;
	margin-top: 1%;
	margin-left: 1%;
	padding-right: 0;
	margin-right: 0;
}


.fundo{
	overflow: hidden;
	margin-top: 10px;
	margin-left: 5%;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 25px;
	background-color: white;
	width: 90%;
	height: 100%;
	position: relative;
}

.parte1{
	margin-top: 10px;
}

.tecnologia{
	float: left;
	margin-left: 2.1%;
    max-width:600px;
    max-height:700px;
    width: auto;
    height: auto;
}

.iconeUsuario{
    max-width:100px;
    max-height:100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form{
	float: left;
	border-style: groove;
	margin-left: 5%;
	height: 300px;
	width: 40%;
	padding-bottom: 33px;
}

.form input[type=text]{
	float: center;
	margin-left: 110px;
	padding-right: 90px;
	margin-bottom: 5px;
	height: 25px;
}

.form input[type=password]{
	float: center;
	margin-left: 110px;
	padding-right: 90px;
	height: 25px;
}

.entrar{
	margin-top: 5px;
	margin-left: 57.55%;
	height: 25px;
	width: 90px;
	background-color: #74b9ff;
}

.esqueciSenha{
	margin-top: 5px;
	margin-left: 55%;	

}

.criarConta{
	width: 55%;
	height: 30px;
	margin-top: 5%;
	margin-left: 21%;
}

#mapa{
	float: left;
	margin-left: 2.1%;
    max-width:600px;
    max-height:700px;
    width: auto;
    height: auto;
    margin-top: 18px;
}


hr{
	float: left;
	position: relative;
	margin-top: 1.5%;
	width: 98.5%;
}

.play-store{
	float: left;
	margin-left: 9.9%;
    max-width:600px;
    max-height:700px;
    width: auto;
    height: auto;
}

.app-store{
	float: left;
	margin-left: 11%;
    max-width:330px;
    max-height:500px;
    width: auto;
    height: auto;
}

/*#botao-mapa{
	position: absolute;
	float: left;
}*/

.cabecalho{
	background-color: #0984e3;
	height: 15%;
	width: 100%;
	position: relative;
}

.cabecalho  p{
	float: left;
	margin-top: 2.5%;
	margin-left: 1%;
	color: #dfe6e9; 
	position: relative;
}

.cabecalho ul{
	float: left;
	margin-left: 55%;
	margin-top: 2.5%;
	list-style-type: none;
}

.cabecalho li{
	display: inline;
	position: relative;


}

.cabecalho li a{
	background-color:#dfe6e9; 
	color:#2d3436; 
	padding: 10px 15px 10px 15px;
	font-size: 24px;
	text-decoration: none;
}

.cabecalho li a:hover{
	background-color: #b2bec3;
	color: #dfe6e9; 
}

main{
	overflow: hidden;
}

.rodape{
	height: 20%;
	background-color: #0984e3;
	margin-top: 30px;

}

.rodape p{
	margin-top: 10px;
	text-align: center;
	color: white;
}

.icones-rodape{
	margin-top: 20px;
	margin-left: 40%;
}

.icone-subir{
	margin-left: 33%;
}

.icone-subir a{
	margin: 0;
	padding: 0;
}

.rodape p a{
	text-decoration: none;
	color: white;
}

.rodape p a:hover{
	color: #2d3436;
}