*{
	margin: 0;
	padding: 0;
}


body, html{
	height: 100%;
}

body{
	background-color: #dfe6e9;
}

.cabecalho{
	background-color: #0984e3;
	height: 15%;
	width: 100%;
	position: relative;
}

.cabecalho  p{
	float: left;
	margin-top: 2.5%;
	margin-left: 3%;
	color: #dfe6e9; 
	position: relative;
}

.cabecalho ul{
	float: left;
	margin-left: 60%;
	margin-top: 2.5%;
	list-style-type: none;
}

.cabecalho li{
	display: inline;
	position: relative;


}

.cabecalho li a{
	background-color:#dfe6e9; 
	color:#2d3436; 
	padding: 10px 15px 10px 15px;
	font-size: 24px;
	text-decoration: none;
}

.cabecalho li a[href="#2"]{
	background-color: #74b9ff
}

.cabecalho li a:hover{
	background-color: #b2bec3;
	color: #dfe6e9; 
}

.fundo{
	float: left;
	margin-top: 10px;
	margin-left: 5%;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 40px;
	background-color: white;
	width: 90%;
	height: 100%;
	position: relative;
}

.servico-esquerda{
	float: left;
	margin-left: 200px;
	width: 33%;
	margin-bottom: 40px;
	margin-top: 20px;
}

.servico-esquerda p, h2{
	text-align: center;
}

.servico-direita p, h2{
	text-align: center;
}


.servico-direita{
	float: left;
	margin-left: 100px;
	width: 33%;	
	margin-bottom: 40px;
	margin-top: 20px; 
}


.rodape{
	float: left;
	width: 100%;
	height: 20%;
	background-color: #0984e3;
	margin-top: 30px;

}

.rodape p{
	margin-top: 10px;
	text-align: center;
	color: white;
}

.icones-rodape{
	margin-top: 20px;
	margin-left: 40%;
}

.icone-subir{
	margin-left: 33%;
}

.icone-subir a{
	margin: 0;
	padding: 0;
}

.rodape p a{
	text-decoration: none;
	color: white;
}

.rodape p a:hover{
	color: #2d3436;
}